<<<<<<< HEAD
body{
    background-color: yellow;
}
div{
    width: 200px;
    height: 300px;
    background-color:white;
    text-align: center;
}
h6{
    color: black;
=======
body{
    background-color: yellow;
}
div{
    width: 200px;
    height: 300px;
    background-color:white;
    text-align: center;
}
h6{
    color: black;
>>>>>>> bc13ad1f9000be1e2a8d102663d23ed5e789582b
}